@main-color: wheat;
@main-hover-color: brown;
@won: #009f30;
@lost: #ad0030;
@draw: grey;
body{
  font-family: 'Varta', sans-serif;
}
.match-preview{
  border: 1px solid;
  padding: 7px;
  margin: 10px 0;
  align-items: center;
  border-radius: 3px;
  border-color: rgba(0,0,0,0.5);
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  width: 70%;
  box-sizing: border-box;
  &.displaynone{
    display: none;
  }
  &.Grass{
    background-image: url("./../img/grasscourt.jpg");
  }
  &.Clay{
    background-image: url("./../img/claycourt.jpg");
  }
  &.Hard{
    background-image: url("./../img/hardcourt.jpg");
  }
  &.Carpet{
    background-image: url("./../img/carpetcourt.jpg");
  }

  &.won{
    .player{
      color: @won;
    }
  }
  &.lost{
    .player{
      color: @lost;
    }
  }
  &.draw{
    .player{
      color: @draw;
    }
  }
  .player{
    font-weight: 700;
    cursor: pointer;
  }
  .setResult{
    display: inline-block;
    padding: 3px 5px 0 5px;
    border-radius: 4px;
    margin-right: 5px;
    &.won{
      background-color: @won;
      color: white;
    }
    &.lost{
      background-color: @lost;
      color: white;
    }
    &.draw{
      background-color: @draw;
    }
  }
  .match_meta {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 4px 10px;
  }
  .match_details{
    display: flex;
    background-color: rgba(255,255,255,0.8);
    margin: 10px 0;
    padding: 4px 10px;
    div {
      margin: 10px;
    }
  }
}
.add_match{
  label{
    display: block;
    margin: 2px 0;
  }
  fieldset{
    margin: 10px 0;
  }
}
.button{
  padding: 5px 15px;
  background-color: @main-color;
  cursor: pointer;
  &:hover{
    background-color: @main-hover-color;
  }
}
.share .notes{
  color: transparent;
  text-shadow: 0 0 6px rgba(0,0,0,0.7);
}
.stats{
  display: flex;
  justify-content: space-between;
  width: 70%;
}
.stats_element{
  padding: 10px;
  border: 1px solid black;
  text-align: center;
  border-radius: 4px;
  h4{
    margin: 0;
  }
  &.won{
    h4{
      color: @won;
    }
  }
  &.lost{
    h4{
      color: @lost;
    }
  }
  &.draw{
    h4{
      color: @draw;
    }
  }
}
.match_date{
  min-width: 80px;
}