@main-color: wheat;
@main-hover-color: brown;
@won: green;
@lost: red;
@draw: grey;

.match-preview{
  border: 1px solid;
  padding: 7px;
  &.won{
    border-color: @won;
  }
  &.lost{
    border-color: @lost;
  }
  &.draw{
    border-color: @draw;
  }
  .setResult{
    display: inline-block;
    padding: 3px;
    border-radius: 4px;
    margin-right: 5px;
    &.won{
      background-color: @won;
    }
    &.lost{
      background-color: @lost;
    }
    &.draw{
      background-color: @draw;
    }
  }
}
.add_match{
  label{
    display: block;
    margin: 2px 0;
  }
  fieldset{
    margin: 10px 0;
  }
}
.button{
  padding: 5px 15px;
  background-color: @main-color;
  cursor: pointer;
  &:hover{
    background-color: @main-hover-color;
  }
}